.test-01 {
  width: 600px;
  position: relative;
  // display: flex;
  // width: 100%;
  // justify-content: center;
  // align-items: center;
  //     overflow-y: scroll;

  .box-zoom-product {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    height: 60px;
    color: #ffffff;
  }

  .hide-image-360 {
    display: none !important;
  }
  .hide-image-zoom {
    display: none;
  }
}
